<VirtualHost *:80>
    WSGIScriptAlias / /var/www/echo/echo.py
    WSGIDaemonProcess echo processes=3 threads=3 display-name=echo
    WSGIProcessGroup echo

    ErrorLog /var/log/{{ apache_user | default('apache2')}}/echo.error.log
    LogLevel info
    CustomLog /var/log/{{ apache_user | default('apache2')}}/echo.access.log combined
{% if apache24|success %}
    <Directory /var/www/echo>
        Require all granted
    </Directory>
{% else %}
    <Directory /var/www/echo>
        Order allow,deny
        Allow from all
    </Directory>
{% endif %}
</VirtualHost>
