Listen 5000
Listen 35357

KeepAliveTimeout 0

<IfModule mpm_worker_module>
    StartServers          2
    MinSpareThreads      25
    MaxSpareThreads      75
    ThreadLimit          64
    ThreadsPerChild      25
    MaxClients          150
    MaxRequestsPerChild   0
</IfModule>

<VirtualHost *:5000>
    WSGIScriptAlias / /var/www/keystone/main
    WSGIDaemonProcess keystone-main processes=3 threads=3 display-name=keystone-main
    WSGIProcessGroup keystone-main

    ErrorLog /var/log/{{ apache_user | default('apache2')}}/keystone-main.error.log
    LogLevel info
    CustomLog /var/log/{{ apache_user | default('apache2')}}/keystone-main.access.log combined

{% if apache24|success %}
    <Directory /var/www/keystone>
        Require all granted
    </Directory>
{% else %}
    <Directory /var/www/keystone>
        Order allow,deny
        Allow from all
    </Directory>
{% endif %}
</VirtualHost>

<VirtualHost *:35357>
    WSGIScriptAlias / /var/www/keystone/admin
    WSGIDaemonProcess keystone-admin processes=3 threads=3 display-name=keystone-admin
    WSGIProcessGroup keystone-admin

    ErrorLog /var/log/{{ apache_user | default('apache2')}}/keystone-admin.error.log
    LogLevel info
    CustomLog /var/log/{{ apache_user | default('apache2')}}/keystone-admin.access.log combined

{% if apache24|success %}
    <Directory /var/www/keystone>
        Require all granted
    </Directory>
{% else %}
    <Directory /var/www/keystone>
        Order allow,deny
        Allow from all
    </Directory>
{% endif %}
</VirtualHost>
